button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	font-family: $font-sans;
	padding: .5em 1.4em;
	font-size: 85%;
	color: #000;
	line-height: 1.3em;
	text-decoration: none;
	border: 1px solid #c3c3c3;

	&:hover,
	&:focus {
		color: #fff;
		background: $color__link;
		border-color: $color__link;
	}
}