.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;

	// Loops to enumerate the classes for gallery columns.
	@for $i from 2 through 9 {
		.gallery-columns-#{$i} & {
			max-width: map-get( $columns, $i );
		}
	}
}

.gallery-caption {
	display: block;
}
 
.home .entry-title {
    display: none
}

.home #content {
    padding: 0;
    margin: 0;
}

.home #secondary {
    margin-top: -24px;
    h2 {
        margin-bottom: 10px;
    }
}


/** Homepage Text Display with Typed.js **/
.home .typed {
    display: flex;
    max-width: 85%;
    word-wrap: break-word;
    color: #FFF;
    position: absolute;
    top: 59%;
    left: 10%;
    h2 {
        font-size: 1.3em;
    }
    @media screen and (max-width: 365px) {
        top: 63%;
        left: 17%;
    }
    @media screen and (min-width: 375px) {
        top: 61%;
        left: 20%;
    }

    @media screen and (min-width: 410px) {
        top: 64%;
        left: 23%;
    }
    @media screen and (min-width: 414px) {
        top: 59%;
        left: 23%;
    }
    @media screen and (min-width: 768px) {
        top: 34%;
        h2 {
            font-size: 1.953em;
        }
    }
    @media screen and (min-width: 780px) {
        top: 54%;
        h2 {
            font-size: 2.441em;
        }
    }
    @media screen and (min-width: 1024px) {
        top: 34%;
        h2 {
            font-size: 2.441em;
        }
    }
    @media screen and (min-width: 1028px) {
        top: 54%;
    }
    
}

/** Stories Page Gallery */
.stories-gallery {
	margin: 0 auto;
}

.stories {
    max-width: 470px;
    a {
        text-decoration: none;
    }

    figure {
        
        img {
    
        }
        figcaption {
                color: #fff;
                padding: 1.5em; 
                font-size: 0.85em; // mobile size
                line-height: 125%; // mobile size
        }
        h2 {
            margin: 0;
            line-height: 125%; // mobile size
            font-size: 17px; // mobile size
            font-weight: 800;
            text-transform: uppercase;
            letter-spacing: 1px;
        }
        p {
            margin: 0;
            padding: 0 1em 0.5em 1em; // mobile size
        }
    }
}

/** Story Effect **/
@supports (grid-area: auto) {  
    .stories-gallery {
        display: grid;
        grid-gap: 1em;
    }
    .effect-story {
        background: #030c17;
        display: grid;
        img, figcaption {
            grid-column: 1;
            grid-row: 1;
        }
        figcaption {
            transition: all 1.5s;
            background-color: transparent;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            opacity: 0;
            font-family: $font__sans;
        }
        p {
            text-align: center;
        }
        &:hover figcaption, &:focus figcaption {
            opacity: 1;
            transition: all 0.75s;
            background-color:rgba(0,0,0,0.6);
        } 
    }

    @media screen and (min-width: 415px) {
        .stories figure h2 {
            font-size: 25px;
        }
        
        .stories figure figcaption {
            font-size: 1em;
        }

    }

    @media screen and (min-width: 520px) {
        .stories-gallery {
            grid-template-columns: 1fr 470px 1fr;
            grid-row-gap: 1em;
        }
        .stories {
            grid-column: 2;
        }
    }

    @media screen and (min-width: $query__small) {
    	.stories-gallery {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
        .stories {
            grid-column: auto;
        }   
    }


    @media screen and (min-width: 1095px) {
        .stories-gallery {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
        .stories {
            figure {
                figcaption {
                    padding: 0.2em;
                    h2 {
                        font-size: 17px;
                    }
                    p {
                        font-size: 0.85em;
                    }
                }
            }
            
        }
        .double {
            grid-column: span 2;
            grid-row: span 2;
            max-width: 500px;
            figure {
                img {
                    width: 500px;
                    height: 380px;
                }
                figcaption {
                    h2 {
                        font-size: 25px;
                    }
                    p {
                        font-size: 1em;
                    }
                }
            }
        }
        .fourth-col {
            grid-column: 4;
        }
    }
}
