.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;

	// Loops to enumerate the classes for gallery columns.
	@for $i from 2 through 9 {
		.gallery-columns-#{$i} & {
			max-width: map-get( $columns, $i );
		}
	}
}

.gallery-caption {
	display: block;
}
 
.home .entry-title {
    display: none
}

.home #content {
    padding: 0;
    margin: 0;
}

.home #secondary {
    margin-top: -24px;
    h2 {
        margin-bottom: 10px;
    }
}


/** Homepage Text Display with Typed.js **/
.home .typed {
    display: flex;
    max-width: 85%;
    word-wrap: break-word;
    color: #FFF;
    position: absolute;
    top: 59%;
    left: 10%;
    h2 {
        font-size: 1.3em;
    }
    @media screen and (max-width: 365px) {
        top: 63%;
        left: 17%;
    }
    @media screen and (min-width: 375px) {
        top: 61%;
        left: 20%;
    }

    @media screen and (min-width: 410px) {
        top: 64%;
        left: 23%;
    }
    @media screen and (min-width: 414px) {
        top: 59%;
        left: 23%;
    }
    @media screen and (min-width: 768px) {
        top: 34%;
        h2 {
            font-size: 1.953em;
        }
    }
    @media screen and (min-width: 780px) {
        top: 54%;
        h2 {
            font-size: 2.441em;
        }
    }
    @media screen and (min-width: 1024px) {
        top: 34%;
        h2 {
            font-size: 2.441em;
        }
    }
    @media screen and (min-width: 1028px) {
        top: 54%;
    }
    
}

/** Stories Page Gallery */
.stories-gallery {
	margin: 0 auto;
}

.stories {
    max-width: 470px;
    a {
        text-decoration: none;
    }

    figure {
        
        img {
    
        }
        figcaption {
                color: #fff;
                padding: 1.5em; 
                font-size: 1em; // mobile size
                line-height: 125%; // mobile size
        }
        h2 {
            margin: 0;
            line-height: 125%; // mobile size
            font-size: 25px; // mobile size
            font-weight: 800;
            text-transform: uppercase;
            letter-spacing: 1px;
        }
        p {
            margin: 0;
            padding: 0 1em 0.5em 1em; // mobile size
        }
    }
}

.stories figure figcaption,
.stories figure figcaption > a {
   
}

/** Story Effect **/
figure.effect-story {
    background: #030c17;
    img {

    }
    h2 {
       
    }
    p {

    }
    &:hover h2 {

    }
    figcaption {
        p {
            font-family: $font__sans;
        }
    }
}

figure.effect-story:hover figcaption::before,
figure.effect-story:hover p {

}

figure.effect-story:hover figcaption {

}

figure.effect-story:hover img {

}


@supports (grid-area: auto) {
    @media screen and (min-width: $query__small) {
    	figure.effect-story {
            height: 100%;
        }

        .stories-gallery {
    		display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 1em;
            max-width: 956px;

            .stories {
                min-width: 470px;

    			figure {
    				img {
    					width: 470px;
    					height: 360px;
    				}
                    figcaption {
                    }
                    p {
                        padding: 0;
                    }

    			}
    		}
    	}
    }
}
