body,
button,
input,
select,
optgroup,
textarea {
	color: $color__text-main;
	font-family: $font__serif;
	@include font-size(0.9);
	line-height: $font__line-height-body;
	font-variant-numeric: oldstyle-nums;
	text-rendering: optimizeLegibility;
	
	// Rules that apply to phones and everything larger require no queries.


	// Tablets and larger
	@media (min-width: $query__small) {
		@include font-size(1);
	}

	// Desktops and larger 
	@media (min-width: 992px) { 

	}
}

@import "headings";

@import "copy";
