// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
    font-size: ($sizeValue * 16) * 1px;
    font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

// Clearfix
@mixin clearfix() {
    content: "";
    display: table;
    table-layout: fixed;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
    clear: both;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
    width: map-get( $columns, $numberColumns) - ( ( $columns__margin * ( $numberColumns - 1)) / $numberColumns);
}

@mixin clearfix-parent {
    &:before,
    &:after {
        content: '';
        display: table;
    }
    &:after {
        clear: both;
    }
}

@mixin paragraph-icon {
    &:before {
        font-family: $font__icons;
        content: '\f036'; // left paragraph icon
        vertical-align: middle;
        color: lighten($color__text-main, 20%);
        padding-right: 3px;
    }
}

@mixin leftarrow-icon {
	&:before {	
		font-family: $font__icons;
        content: '\f060'; // left fa-arrow-left icon
        color: lighten($color__text-main, 20%);
        padding-right: 6px;
    }
}

@mixin rightarrow-icon {
	&:after {	
		font-family: $font__icons;
        content: '\f061'; // left fa-arrow-right icon
        color: lighten($color__text-main, 20%);
        padding-left: 6px;
    }
}