/** Content Navigation **/
.comment-navigation, posts-navigation, post-navigation {

	.site-main {
		margin: 0 0 1.5em;
		overflow: hidden;
	}
}

.post-navigation {
	margin-bottom: 4em;
}

.nav-previous {
	float: left;
	width: 50%;	
	@include leftarrow-icon;		
}

.nav-next {
	float: right;
	text-align: right;
	width: 50%;
	@include rightarrow-icon;	
}
