.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.entry-header {
	font-family: $font-sans;
}

.entry-title {
	margin: .125em 0 .25em;
}

.entry-meta {
	a {
		text-decoration: none;
		&:hover,
		&:focus {
			text-decoration: underline;
		}
	}

}

time.updated {
    visibility: hidden;
}

.cat-links {
	a {
		text-decoration: none;
		&:hover,
		&:focus {
			text-decoration: underline;
		}
	}

}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
